default_language_version:
    python: python3

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
        args: [--unsafe]
    -   id: check-json
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-case-conflict

-   repo: https://github.com/dbt-labs/pre-commit-hooks
    rev: v0.1.0a1
    hooks:
    -   id: dbt-core-in-adapters-check

-   repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
    -   id: black
        args:
        -   --line-length=99
        -   --target-version=py39
        -   --target-version=py310
        -   --target-version=py311
        -   --target-version=py312
        -   --force-exclude=dbt/adapters/events/adapter_types_pb2.py
        additional_dependencies: [flaky]

-   repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
        exclude: dbt/adapters/events/adapter_types_pb2.py|tests/functional/|dbt-spark/tests/|dbt-bigquery/tests/|dbt-redshift/tests|dbt-postgres/tests
        args:
        -   --max-line-length=99
        -   --select=E,F,W
        -   --ignore=E203,E501,E704,E741,W503,W504
        -   --per-file-ignores=*/__init__.py:F401,*/conftest.py:F401
        additional_dependencies: [flaky]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
    -   id: mypy
        exclude: dbt/adapters/events/adapter_types_pb2.py|dbt-tests-adapter/dbt/__init__.py
        args:
        -   --explicit-package-bases
        -   --ignore-missing-imports
        -   --pretty
        -   --show-error-codes
        files: ^dbt/adapters/
        additional_dependencies:
        -   types-PyYAML
        -   types-protobuf
        -   types-python-dateutil
        -   types-pytz
        -   types-requests
