[project]
dynamic = ["version"]
name = "dbt-adapters"
description = "The set of adapter protocols and base functionality that supports integration with dbt-core"
readme = "README.md"
keywords = ["dbt", "adapter", "adapters", "database", "elt", "dbt-core", "dbt Core", "dbt Cloud", "dbt Labs"]
requires-python = ">=3.8.0"
authors = [
    { name = "dbt Labs", email = "info@dbtlabs.com" },
]
maintainers = [
    { name = "dbt Labs", email = "info@dbtlabs.com" },
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX :: Linux",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = [
    "dbt-common<1.0",
    "pytz>=2015.7",
    # installed via dbt-common but used directly, unpin minor to avoid version conflicts
    "agate<2.0",
    "mashumaro[msgpack]<4.0",
    "protobuf<5.0",
    "typing-extensions<5.0",
]

[project.optional-dependencies]
lint = [
    "black",
    "flake8",
    "Flake8-pyproject",
]
typecheck = [
    "mypy",
    "types-PyYAML",
    "types-protobuf",
    "types-pytz",
]
test = [
    "pytest",
    "pytest-dotenv",
    "pytest-xdist",
]

[project.urls]
Homepage = "https://github.com/dbt-labs/dbt-adapters"
Documentation = "https://docs.getdbt.com"
Repository = "https://github.com/dbt-labs/dbt-adapters.git"
Issues = "https://github.com/dbt-labs/dbt-adapters/issues"
Changelog = "https://github.com/dbt-labs/dbt-adapters/blob/main/CHANGELOG.md"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "dbt/adapters/__about__.py"

[tool.hatch.build.targets.sdist]
include = ["dbt/adapters", "dbt/include", "dbt/__init__.py"]

[tool.hatch.build.targets.wheel]
include = ["dbt/adapters", "dbt/include", "dbt/__init__.py"]

[tool.hatch.envs.default]
features = ["lint", "typecheck", "test", "postgres"]
extra-dependencies = [
    "dbt-tests-adapter @ {root:uri}/dbt-tests-adapter",
]

[tool.hatch.envs.lint]
detached = true
features = ["lint"]
[tool.hatch.envs.lint.scripts]
all = [
    "- lint-black",
    "- lint-flake8",
]
lint-black = "python -m black ."
lint-flake8 = "python -m flake8 ."

[tool.hatch.envs.typecheck]
features = ["typecheck"]
[tool.hatch.envs.typecheck.scripts]
all = "python -m mypy ."

[tool.hatch.envs.unit-tests]
features = ["test"]
[tool.hatch.envs.unit-tests.scripts]
all = "python -m pytest {args:tests/unit}"

[tool.hatch.envs.integration-tests]
features = ["test"]
extra-dependencies = [
    "dbt-tests-adapter @ {root:uri}/dbt-tests-adapter",
]
[tool.hatch.envs.integration-tests.scripts]
all = "python -m pytest {args:tests/functional}"

[tool.black]
extend-exclude = "dbt/adapters/events/adapter_types_pb2.py"
line-length = 99
target-version = ['py38']

[tool.flake8]
select = ["E", "W", "F"]
ignore = ["E203", "E501", "E741", "W503", "W504"]
exclude = [
    "dbt/adapters/events/adapter_types_pb2.py",
    "tests/functional",
    "venv",
]
per-file-ignores = ["*/__init__.py: F401"]

[tool.mypy]
namespace_packages = true
show_error_codes = true
explicit_package_bases = true
ignore_missing_imports = true
pretty = true
mypy_path = "third-party-stubs/"
files = [
    "dbt",
    "tests/unit",
]
exclude = [
    "dbt/adapters/events/adapter_types_pb2.py",
    "venv",
]
[[tool.mypy.overrides]]
module = ["dbt.adapters.events.adapter_types_pb2"]
follow_imports = "skip"

[tool.pytest]
env_files = ["test.env"]
testpaths = [
    "tests/functional",
    "tests/unit",
]
color = true
csv = "results.csv"
