POSTGRES_TEST_HOST=
POSTGRES_TEST_PORT=
POSTGRES_TEST_USER=
POSTGRES_TEST_PASS=
POSTGRES_TEST_DATABASE=
POSTGRES_TEST_THREADS=

DBT_TEST_USER_1=dbt_test_user_1
DBT_TEST_USER_2=dbt_test_user_2
DBT_TEST_USER_3=dbt_test_user_3
