[version]
path = "src/dbt/adapters/hologres/__version__.py"

[build.targets.wheel]
packages = ["src/dbt/adapters", "src/dbt/include"]
sources = ["src"]

[envs.default]
pre-install-commands = [
    "pip install -e ../dbt-adapters",
    "pip install -e ../dbt-tests-adapter",
]
dependencies = [
    "dbt-common @ git+https://github.com/dbt-labs/dbt-common.git",
    "dbt-core @ git+https://github.com/dbt-labs/dbt-core.git#subdirectory=core",
    "ddtrace==2.3.0",
    "pre-commit==3.7.0",
    "freezegun",
    "pytest>=7.0,<8.0",
    "pytest-dotenv",
    "pytest-mock",
    "pytest-xdist",
]
[envs.default.scripts]
setup = [
    "pre-commit install",
    "cp -n test.env.example test.env",
]
code-quality = "pre-commit run --all-files"
unit-tests = "python -m pytest {args:tests/unit}"
integration-tests = "python -m pytest {args:tests/functional}"

[envs.build]
detached = true
dependencies = [
    "wheel",
    "twine",
    "check-wheel-contents",
    "psycopg[binary]>=3.1,<4.0",
]
[envs.build.scripts]
check-all = [
    "- check-wheel",
    "- check-sdist",
]
check-wheel = [
    "twine check dist/*",
    "find ./dist/dbt_hologres-*.whl -maxdepth 1 -type f | xargs python -m pip install --force-reinstall --find-links=dist/",
    "pip freeze | grep dbt-hologres",
]
check-sdist = [
    "check-wheel-contents dist/*.whl --ignore W007,W008",
    "find ./dist/dbt_hologres-*.gz -maxdepth 1 -type f | xargs python -m pip install --force-reinstall --find-links=dist/",
    "pip freeze | grep dbt-hologres",
]

[envs.ci]
pre-install-commands = [
    "pip install -e ../dbt-adapters",
    "pip install -e ../dbt-tests-adapter",
]
dependencies = [
    "dbt-common @ git+https://github.com/dbt-labs/dbt-common.git",
    "dbt-core @ git+https://github.com/dbt-labs/dbt-core.git#subdirectory=core",
    "ddtrace==2.3.0",
    "freezegun",
    "pytest>=7.0,<8.0",
    "pytest-mock",
    "pytest-xdist",
]
[envs.ci.scripts]
unit-tests = "python -m pytest tests/unit --ddtrace"
integration-tests = "python -m pytest tests/functional --ddtrace"

[envs.cd]
pre-install-commands = []
dependencies = [
    "dbt-tests-adapter>=1.11.0,<2.0",
    "ddtrace==2.3.0",
    "freezegun",
    "pytest>=7.0,<8.0",
    "pytest-mock",
    "pytest-xdist",
]
[envs.cd.scripts]
unit-tests = "python -m pytest tests/unit --ddtrace"
integration-tests = "python -m pytest tests/functional --ddtrace"
