# **what?**
# Bumps the version of a package using hatch.

# **why?**
# Version bumps are needed as part of the release process for packages.

# **when?**
# This workflow is called by other workflows (like publish-oss.yml) or can be manually triggered via workflow_dispatch.

name: "Bump version"

on:
    workflow_call:
        inputs:
            package:
                description: "Choose the package to bump"
                type: string
                required: true
            branch:
                description: "Choose the branch to use"
                type: string
                default: "main"
            version:
                description: "Choose the version to bump to (e.g. 1.2.3rc1, patch, release)"
                type: string
                default: ""
        outputs:
            initial:
                description: "The version before the bump"
                value: ${{ jobs.main.outputs.initial }}
            final:
                description: "The version after the bump"
                value: ${{ jobs.main.outputs.final }}
        secrets:
            FISHTOWN_BOT_PAT:
                description: "Token to commit/merge changes into branches"
                required: true
    workflow_dispatch:
        inputs:
            package:
                description: "Choose the package to bump"
                type: choice
                options:
                    - "dbt-adapters"
                    - "dbt-tests-adapter"
                    - "dbt-athena"
                    - "dbt-bigquery"
                    - "dbt-postgres"
                    - "dbt-redshift"
                    - "dbt-snowflake"
                    - "dbt-spark"
            branch:
                description: "Choose the branch to use"
                type: string
                default: "main"
            version:
                description: "Choose the version to bump to (e.g. 1.2.3rc1, patch, release)"
                type: string
                default: ""

permissions:
    contents: write

jobs:
    main:
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        outputs:
            initial: ${{ steps.version.outputs.initial }}
            final: ${{ steps.version.outputs.final }}
        steps:
            - name: "Checkout ${{ inputs.branch }}"
              uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
              with:
                  ref: ${{ inputs.branch }}

            - name: "Set up Python"
              uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # actions/setup-python@v5
              with:
                  python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}

            - name: "Install hatch"
              uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc # pypa/hatch@install

            - name: "Bump version"
              id: version
              run: |
                  echo "initial=$(hatch version)" >> $GITHUB_OUTPUT
                  hatch version ${{ inputs.version }}
                  echo "final=$(hatch version)" >> $GITHUB_OUTPUT
              working-directory: ./${{ inputs.package }}

            - name: "Update dbt-athena-community version"
              run: sed -i "s/$INITIAL/$FINAL/g" dbt-athena-community/pyproject.toml
              if: inputs.package == 'dbt-athena' && steps.version.outputs.final != steps.version.outputs.initial
              env:
                  INITIAL: ${{ steps.version.outputs.initial }}
                  FINAL: ${{ steps.version.outputs.final }}

            - name: "Commit version bump"
              uses: ./.github/actions/bot-commit
              if: steps.version.outputs.final != steps.version.outputs.initial
              with:
                  message: "Bump version from ${{ steps.version.outputs.initial }} to ${{ steps.version.outputs.final }}"
