name: "Changelog entry check"

# this cannot be tested via workflow_dispatch
# dorny/paths-filter inspects the current trigger to determine how to compare branches
on:
    workflow_call:
        inputs:
            package:
                description: "Choose the package to test"
                type: string
                default: "dbt-adapters"
            pull-request:
                description: "The PR number"
                type: string
                required: true

permissions:
    contents: read
    pull-requests: write

defaults:
    run:
        shell: bash

jobs:
    changelog-check:
        if: ${{ !contains(github.event.pull_request.labels.*.name, 'skip:changelog-check') }}
        outputs:
            exists: ${{ steps.changelog.outputs.exists }}
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        steps:
        -   id: changelog
            uses: dorny/paths-filter@v3
            with:
                token: ${{ secrets.GITHUB_TOKEN }}
                filters: |
                    exists:
                    -   added|modified: '${{ inputs.package }}/.changes/unreleased/**.yaml'

    comment:
        needs: changelog-check
        if: needs.changelog-check.outputs.exists == false
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        env:
            AUTHOR: "github-actions[bot]"
            COMMENT: >-
                Thank you for your pull request! We could not find a changelog entry for this change in the ${{ inputs.package }} package.
                For details on how to document a change, see the [Contributing Guide](https://github.com/dbt-labs/dbt-adapters/blob/main/CONTRIBUTING.md).
        steps:
        -   id: comment
            uses: peter-evans/find-comment@v3
            with:
                issue-number: ${{ inputs.pull-request }}
                comment-author: ${{ env.AUTHOR }}
                body-includes: ${{ env.COMMENT }}
        -   if: steps.comment.outputs.comment-body == ''
            run: gh issue comment ${{ inputs.pull-request }} --repo ${{ github.repository }} --body "${{ env.COMMENT }}"
            env:
                GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        -   uses: actions/github-script@v7
            with:
                script: core.setFailed('Changelog entry required to merge.')
