# **what?**
# Runs code quality checks using pre-commit hooks.

# **why?**
# Ensure code for dbt meets a certain quality standard.

# **when?**
# This workflow runs for all PRs, when code is pushed to main branch, and when manually triggered.

name: "# Code quality"
run-name: "Code quality - ${{ github.actor }} - branch:${{ inputs.branch }} repository:${{ inputs.repository }}"

on:
    workflow_call:
        inputs:
            branch:
                description: "Choose the branch to check"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to check, when using a fork"
                type: string
                default: "dbt-labs/dbt-adapters"
    workflow_dispatch:
        inputs:
            branch:
                description: "Choose the branch to check"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to check, when using a fork"
                type: string
                default: "dbt-labs/dbt-adapters"

permissions:
    contents: read

jobs:
    code-quality:
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        steps:
            - name: "Checkout ${{ inputs.branch }}"
              uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
              with:
                  ref: ${{ inputs.branch }}
                  repository: ${{ inputs.repository }}

            - name: "Set up Python"
              uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # actions/setup-python@v5
              with:
                  python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}

            - name: "Run pre-commit hooks"
              uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # pre-commit/action@v3.0.1
