name: "# Code quality"
run-name: "Code quality - ${{ github.actor }} - branch:${{ inputs.branch }} repository:${{ inputs.repository }}"

on:
    workflow_call:
        inputs:
            branch:
                description: "Choose the branch to check"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to check, when using a fork"
                type: string
                default: "dbt-labs/dbt-adapters"
    workflow_dispatch:
        inputs:
            branch:
                description: "Choose the branch to check"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to check, when using a fork"
                type: string
                default: "dbt-labs/dbt-adapters"

permissions:
    contents: read

jobs:
    code-quality:
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        steps:
        -   uses: actions/checkout@v4
            with:
                ref: ${{ inputs.branch }}
                repository: ${{ inputs.repository }}
        -   uses: actions/setup-python@v6
            with:
                python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
        -   uses: pre-commit/action@v3.0.1
