name: "Package directory"

on:
    pull_request:
    workflow_call:
        inputs:
            package:
                description: "Choose the package whose directory you need"
                type: string
                default: "dbt-adapters"
        outputs:
            directory:
                description: "The root directory of the package"
                value: ${{ jobs.package.outputs.directory }}

defaults:
    run:
        shell: bash

jobs:
    package:
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        outputs:
            directory: ${{ steps.package.outputs.directory }}
        steps:
        -   id: package
            run: |
                if [[ ${{ inputs.package }} == "dbt-adapters" ]]
                then
                    directory=""
                else
                    directory="${{ inputs.package }}/"
                fi
                echo "directory=$directory" >> $GITHUB_OUTPUT
