name: "# Verify build"
run-name: "Verify build - ${{ github.actor }} - package:${{ inputs.package }} branch:${{ inputs.branch }} repository:${{ inputs.repository }} os:${{ inputs.os }} python-version:${{ inputs.python-version }}"

on:
    workflow_call:
        inputs:
            package:
                description: "Choose the package to build"
                type: string
                default: "dbt-adapters"
            branch:
                description: "Choose the branch to build"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to build, (used primarily when testing a fork)"
                type: string
                default: "dbt-labs/dbt-adapters"
            os:
                description: "Choose the OS to test against"
                type: string
                default: "ubuntu-22.04"
            python-version:
                description: "Choose the Python version to test against"
                type: string
                default: "3.10"
    workflow_dispatch:
        inputs:
            package:
                description: "Choose the package to build"
                type: choice
                options:
                -   "dbt-adapters"
                -   "dbt-tests-adapter"
                -   "dbt-athena"
                -   "dbt-athena-community"
                -   "dbt-bigquery"
                -   "dbt-postgres"
                -   "dbt-redshift"
                -   "dbt-snowflake"
                -   "dbt-spark"
            branch:
                description: "Choose the branch to build"
                type: string
                default: "main"
            repository:
                description: "Choose the repository to build, (used primarily when testing a fork)"
                type: string
                default: "dbt-labs/dbt-adapters"
            os:
                description: "Choose the OS to test against"
                type: string
                default: "ubuntu-22.04"
            python-version:
                description: "Choose the Python version to test against"
                type: choice
                options: ["3.10", "3.11", "3.12", "3.13"]

permissions:
    contents: read

defaults:
    run:
        shell: bash

jobs:
    build:
        runs-on: ${{ inputs.os }}
        name: "build - ${{ inputs.package }} - ${{ inputs.branch }} - ${{ inputs.os }} - ${{ inputs.python-version }}"
        steps:
        -   uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # actions/checkout@v4
            with:
                ref: ${{ inputs.branch }}
                repository: ${{ inputs.repository }}
        -   uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # actions/setup-python@v5
            with:
                python-version: ${{ inputs.python-version }}
        -   run: |
                echo "HATCH_PYTHON=${{ inputs.python-version }}" >> $GITHUB_ENV
                echo "PIP_ONLY_BINARY=psycopg2-binary" >> $GITHUB_ENV
        -   uses: pypa/hatch@257e27e51a6a5616ed08a39a408a21c35c9931bc # pypa/hatch@install
        -   run: hatch build && hatch run build:check-all
            working-directory: ./${{ inputs.package }}
