name: "Code quality"

on:
  push:
    branches:
      - "main"
      - "*.latest"
  pull_request:
  workflow_dispatch:

permissions: read-all

defaults:
  run:
    shell: bash

# will cancel previous workflows triggered by the same event and for the same ref for PRs or same SHA otherwise
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ contains(github.event_name, 'pull_request') && github.event.pull_request.head.ref || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Code quality"
    runs-on: ubuntu-latest

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: "Setup `hatch`"
        uses: ./.github/actions/setup-hatch

      - name: "Run linters"
        run: hatch run lint:all

      - name: "Run typechecks"
        run: hatch run typecheck:all
