name: "Scheduled publishing"
run-name: "Publish to internal - Scheduled"

on:
    schedule:
    -   cron: "0 0 * * SUN"

jobs:
    publish:
        strategy:
            matrix:
                package:
                -   "dbt-athena"
                -   "dbt-bigquery"
                -   "dbt-postgres"
                -   "dbt-redshift"
                -   "dbt-snowflake"
                -   "dbt-spark"
        uses: ./.github/workflows/publish-internal.yml
        with:
            package: ${{ matrix.package }}
        secrets: inherit
