name: "Publish OSS"
run-name: "Publish OSS - ${{ github.actor }} - package:${{ inputs.package }} deploy-to:${{ inputs.deploy-to }} branch:${{ inputs.branch }} version:${{ inputs.version }} skip-unit-tests:${{ inputs.skip-unit-tests }} skip-integration-tests:${{ inputs.skip-integration-tests }}"

on:
    workflow_dispatch:
        inputs:
            package:
                description: "Choose the package to publish"
                type: choice
                options:
                -   "dbt-adapters"
                -   "dbt-tests-adapter"
                -   "dbt-athena"
                -   "dbt-bigquery"
                -   "dbt-postgres"
                -   "dbt-redshift"
                -   "dbt-snowflake"
                -   "dbt-spark"
            deploy-to:
                description: "Choose whether to publish to test or prod"
                type: choice
                options: ["prod", "test"]
            branch:
                description: "Choose the branch to publish from"
                type: string
                # generally all OSS post-prod releases should be off of stable 
                default: "stable"
            version:
                description: "Choose the version to bump to (e.g. 1.2.3rc1, patch, release) or leave empty"
                type: string
                default: ""
            skip-unit-tests:
                description: "Skip running unit tests"
                type: boolean
                default: false
            skip-integration-tests:
                description: "Skip running integration tests"
                type: boolean
                default: false

# don't publish to the same target in parallel
concurrency:
    group: Publish_OSS-${{ inputs.package }}-${{ inputs.deploy-to }}
    cancel-in-progress: true

permissions:
    contents: write
    id-token: write

jobs:
    work-branch:
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        outputs:
            name: ${{ steps.branch.outputs.name }}
        steps:
        -   uses: actions/checkout@v4
            with:
                ref: ${{ inputs.branch }}
        -   id: branch
            run: |
                name="publish-oss/${{ inputs.package }}/$GITHUB_RUN_ID"
                echo "name=$name" >> $GITHUB_OUTPUT
        -   run: |
                git checkout -b ${{ steps.branch.outputs.name }}
                git push -u origin ${{ steps.branch.outputs.name }}

    bump-version:
        needs: work-branch
        uses: ./.github/workflows/_bump-version.yml
        with:
            package: ${{ inputs.package }}
            branch: ${{ needs.work-branch.outputs.name }}
            version: ${{ inputs.version }}
        secrets: inherit

    generate-changelog:
        if: ${{ !failure() && !cancelled() }}
        needs:
        -   work-branch
        -   bump-version  # bump-version may be a no-op, but the changelog should be generated for the latest version
        uses: ./.github/workflows/_generate-changelog.yml
        with:
            package: ${{ inputs.package }}
            branch: ${{ needs.work-branch.outputs.name }}
        secrets: inherit

    unit-tests:
        if: |
            !failure() && !cancelled() &&
            inputs.skip-unit-tests == false &&
            !contains(fromJSON('["dbt-tests-adapter"]'), inputs.package)
        needs:
        -   work-branch
        -   bump-version  # bump-version may be a no-op, but tests need to run with the latest version
        uses: ./.github/workflows/_unit-tests.yml
        with:
            package: ${{ inputs.package }}
            branch: ${{ needs.work-branch.outputs.name }}
            hatch-env: "cd"

    integration-tests:
        if: |
            !failure() && !cancelled() &&
            inputs.skip-integration-tests == false &&
            !contains(fromJSON('["dbt-adapters", "dbt-tests-adapter"]'), inputs.package)
        needs:
            -   work-branch
            -   bump-version  # bump-version may be a no-op, but tests need to run with the latest version
        uses: ./.github/workflows/_integration-tests.yml
        with:
            packages: ${{ toJSON(inputs.package) }}
            branch: ${{ needs.work-branch.outputs.name }}
            hatch-env: "cd"
        secrets: inherit

    publish:
        if: ${{ !failure() && !cancelled() }}
        needs:
        -   work-branch
        -   bump-version
        -   generate-changelog
        -   unit-tests
        -   integration-tests
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        environment:
            name: ${{ inputs.deploy-to }}
            url: ${{ vars.PYPI_PROJECT_URL }}/${{ inputs.package }}
        permissions:
            # this permission is required for trusted publishing
            # see https://github.com/marketplace/actions/pypi-publish
            id-token: write
        steps:

        # merge changes before publishing to prod because we lock trusted publishing to main
        -   uses: everlytic/branch-merge@1.1.5
            if: inputs.deploy-to == 'prod'
            with:
                source_ref: ${{ needs.work-branch.outputs.name }}
                target_branch: ${{ inputs.branch }}
                github_token: ${{ secrets.FISHTOWN_BOT_PAT }}
                commit_message_template: "[Automated] Publish ${{ inputs.package }}==${{ needs.bump-version.outputs.final }}"
        -   uses: actions/checkout@v4
            if: inputs.deploy-to == 'prod'
            with:
                ref: ${{ inputs.branch }}

        # if we're not publishing to prod, just check out the work branch
        -   uses: actions/checkout@v4
            if: inputs.deploy-to != 'prod'
            with:
                ref: ${{ needs.work-branch.outputs.name }}

        # build and publish using whichever branch was checked out above
        -   uses: actions/setup-python@v5
            with:
                python-version: ${{ vars.DEFAULT_PYTHON_VERSION }}
        -   uses: pypa/hatch@install
        -   run: hatch build && hatch run build:check-all
            working-directory: ./${{ inputs.package }}
        -   uses: pypa/gh-action-pypi-publish@release/v1
            with:
                repository-url: ${{ vars.PYPI_REPOSITORY_URL }}
                packages-dir: ./${{ inputs.package }}/dist/
        -   id: version
            run: echo "version=$(hatch version)" >> $GITHUB_OUTPUT
            working-directory: ./${{ inputs.package }}
        -   uses: nick-fields/retry@v3
            with:
                timeout_seconds: 10
                retry_wait_seconds: 10
                max_attempts: 15  # 5 minutes: (10s timeout + 10s delay) * 15 attempts
                command: wget ${{ vars.PYPI_PROJECT_URL }}/${{ inputs.package }}/${{ steps.version.outputs.version }}

        # publish dbt-athena-community following dbt-athena
        -   if: inputs.package == 'dbt-athena'
            run: hatch build && hatch run build:check-all
            working-directory: ./dbt-athena-community
        -   if: inputs.package == 'dbt-athena'
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
                repository-url: ${{ vars.PYPI_REPOSITORY_URL }}
                packages-dir: ./dbt-athena-community/dist/
        -   if: inputs.package == 'dbt-athena'
            uses: nick-fields/retry@v3
            with:
                timeout_seconds: 10
                retry_wait_seconds: 10
                max_attempts: 15  # 5 minutes: (10s timeout + 10s delay) * 15 attempts
                command: wget ${{ vars.PYPI_PROJECT_URL }}/dbt-athena-community/${{ steps.version.outputs.version }}

    clean-up:
        if: ${{ !cancelled() }}
        needs:
            -   work-branch
            -   publish
        runs-on: ${{ vars.DEFAULT_RUNNER }}
        steps:
        -   uses: actions/checkout@v4
            with:
                ref: ${{ inputs.branch }}
        # we should delete this regardless of whether we merged it to avoid building up stale release branches
        -   run: git push origin -d ${{ needs.work-branch.outputs.name }}
            continue-on-error: true
