name: Release

on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        description: Choose what to publish
        options:
        - dbt-adapters
        - dbt-tests-adapter
        default: dbt-adapters
      deploy-to:
        type: choice
        description: Choose where to publish
        options:
        - prod
        - test
        default: prod

permissions: read-all

defaults:
  run:
    shell: bash

# will cancel previous workflows triggered by the same event and for the same ref for PRs or same SHA otherwise
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ contains(github.event_name, 'pull_request') && github.event.pull_request.head.ref || github.sha }}-${{ inputs.package }}-${{ inputs.deploy-to }}
  cancel-in-progress: true

jobs:

  release:
    name: PyPI - ${{ inputs.deploy-to }}
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.deploy-to }}
      url: ${{ vars.PYPI_PROJECT_URL }}
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Setup `hatch`
        uses: ./.github/actions/setup-hatch

      - name: Build `dbt-adapters`
        if: ${{ inputs.package }} == dbt-adapters
        uses: ./.github/actions/build-hatch

      - name: Build `dbt-tests-adapter`
        if: ${{ inputs.package }} == dbt-tests-adapter
        uses: ./.github/actions/build-hatch
        with:
          working-dir: "./dbt-tests-adapter"

      - name: Publish to PyPI
        uses: ./.github/actions/publish-pypi
        with:
          repository-url: ${{ vars.PYPI_REPOSITORY_URL }}
