name: "Unit tests"

on:
  push:
    branches:
      - "main"
      - "*.latest"
  pull_request:
  workflow_dispatch:

permissions: read-all

# will cancel previous workflows triggered by the same event and for the same ref for PRs or same SHA otherwise
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ contains(github.event_name, 'pull_request') && github.event.pull_request.head.ref || github.sha }}
  cancel-in-progress: true

jobs:
  unit:
    name: "Unit tests"
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest]

    steps:
      - name: "Check out repository"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: "Setup `hatch`"
        uses: ./.github/actions/setup-hatch
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Run unit tests"
        run: hatch run unit-tests:all
        shell: bash

      - name: "Publish results"
        uses: ./.github/actions/publish-test-results
        if: always()
        with:
          archive-type: "unit_results"
          python-version: ${{ matrix.python-version }}
          os: ${{ matrix.os }}
          source-file: "results.csv"
